html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}


body{

    background-image:;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: aliceblue;

}
.name1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    
    font-style:calc();
}
.button-group{
    padding: 15px 20px;
    margin-top: 150px;
    flex-direction: column;

}

.name{
    border:solid rgba(91, 88, 89, 0.998);
    border-radius: 5px;
    padding: 5px 10px;
    
}
.final{
    color: rgb(210, 100, 78);
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 60px;
}
#result{
    margin-left: 60px;
    font-size: 30px;
    color:#d81b60 ;
    font-weight: bold;
}
.brush {
      font-family: "Brush Script MT", "Brush Script Std", cursive;
      font-size: 48px;

}

